
html {
	
}

body {
	margin:10px auto;
	width:994px;
	font-size:11pt;
	font-family:lucida grande,lucida sans console,sans-serif;
}

a {
	color:#34a;
}

h1,h2,h3,h4 {
	font-weight:normal;
}

h1 {
	font-size:3.2em;
	font-family: georgia;
	margin:0;
}

h2 {
	font-family: georgia;
	font-style: italic;
}

h2 a {
	font-family:lucida grande,lucida sans console,sans-serif;
	background: #333;
	color:white;
	padding:6px;
	margin-bottom:0;
}

li {
	padding-left:3px;
	list-style:square;
}

ul.large {
	font-size:1.3em;
	padding-left:14px;
}

#links {
	font-size:1.4em;
	display:block;
}
#links a {
	text-decoration:none;
	color:white;
	padding:12px;
	background:black;
	margin-right:8px;
	margin-bottom:8px;
	float:left;
}
#links a:hover {
	background:#333;
	color:#ccc;
}
#links .right {
	float:right;
}
#links .right a {
	margin-right:0;
	margin-left:8px;
}

#header {
	clear:both;
	height:120px;
	background:#999;
	margin-bottom:16px;
}

.modal {
	font-size:1.5em;
}

.column {

}

.sidebar {
	float:right;
	width:240px;
	padding:20px;
	padding-top:0;
	padding-right:0;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAECAYAAABLLYUHAAAABHNCSVQICAgIfAhkiAAAABFJREFUCJljYICA/wzoDNwCAGHSA/39bYdFAAAAAElFTkSuQmCC") repeat-y left;
}

.sidebar h2 {
	margin-top:0;
	text-decoration:none;
	color:white;
	padding:12px;
	background:black;
	font-size:1.8em;
}
.sidebar h3 {
	font-size:1.5em;
	margin-bottom:4px;
}
.sidebar p {
	font-size:10pt;
}
.sidebar a {
	font-style:italic;
}

#main.column{
	width:600px;
}

.section {
	padding:0 10px 10px 0;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAABHNCSVQICAgIfAhkiAAAABJJREFUCJljYECA/wxYOP8xZABf0wP96WTlbgAAAABJRU5ErkJggg==") repeat-x bottom;
}


