
html {
	font-size:11pt;
}

@font-face {
	font-family: Prociono;
	src: url("/fonts/prociono.ttf") format("truetype-aat"),
	     url("/fonts/prociono.otf") format("opentype");
	font-weight: normal;
	font-style: normal;	
}

@font-face {
	font-family: Junction;
	src: url("/fonts/junction.ttf") format("truetype-aat"),
	     url("/fonts/junction.otf") format("opentype");
	font-weight: normal;
	font-style: normal;	
}

body {
	font-family: lucida grande,lucida sans console,sans-serif;
	margin:10px auto;
}

hr {
	height:5px;
	border:none;
	margin:10px 0;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAABHNCSVQICAgIfAhkiAAAABJJREFUCJljYECA/wxYOP8xZABf0wP96WTlbgAAAABJRU5ErkJggg==") repeat-x bottom;
}

p {
	font-size:0.9em;
}

a {
	color:#34a;
}

fieldset table, fieldset{
	font-size:10px;
}

.body-field-wrapper {
	font-size:10px;
}

.form-item input#edit-title {
	font-size:1.8em;
}

h1,h2,h3,h4 {
	font-family:Junction, lucida grande,lucida sans console,sans-serif;
	font-weight:normal;
}

h1 {
	font-size:3.2em;
	font-family: Prociono,georgia;
	margin:0;
}

h2 {
	font-family: Prociono,georgia;
	/* font-style: italic; */
	margin-top:0;
}

h2 a {
	font-family:Junction, lucida grande,lucida sans console,sans-serif;
}

.block-search h2 {
	margin-bottom:8px;
}

.sidebar li {
	line-height:1.4em;
	font-size:14px;
	margin-bottom:6px;
}

.sidebar .item-list li {
	font-size:12px;
	margin-bottom:6px;
}

.sidebar h2 a {
	background: #333;
	color:white;
	padding:6px;
	margin-bottom:0;
}

li {
	padding-left:3px;
	list-style:square;
}

ul.large {
	font-size:1.3em;
	padding-left:14px;
}

#links {
	font-family:Junction, lucida grande,lucida sans console,sans-serif;
	background: #333;
	font-size:1.4em;
	display:block;
}
#links a {
	text-decoration:none;
	color:white;
	padding:12px;
	background:black;
	margin-right:8px;
	margin-bottom:8px;
	float:left;
	padding-top:14px;
}
#links a:hover {
	background:#333;
	color:#ccc;
}
#links .right {
	float:right;
}
#links .right a {
	margin-right:0;
	margin-left:8px;
}

#header {
	clear:both;
	height:120px;
	background:#999;
	margin-bottom:16px;
}

.modal {
	font-size:1.5em;
}

.dashboard-widget {
	padding-top:10px;
	clear:left;
}

div.widget {
	border-top:3px solid #333;
	background: #ccc;
}

.widget-flickr img {
	width:140px !important;
	height:auto !important;
}
.widget-flickr p {
	font-size:10px;
}

.widget .item-list li {
	font-size:10px;
	padding-left:0px;
	margin:12px;
}

.widget form input, .widget form legend, .widget form select {
	font-size:10px;
}

.widget form .filefield-upload input {
	margin-top:4px;
}

.widget form .description, .widget form .tips {
	display:none;
}

.widget .form-item, .widget .item-list ul {
	margin-top:0;
}

.sidebar {
	padding-left:0;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAECAYAAABLLYUHAAAABHNCSVQICAgIfAhkiAAAABFJREFUCJljYICA/wzoDNwCAGHSA/39bYdFAAAAAElFTkSuQmCC") repeat-y right;
}

.sidebar h2 {
	margin-top:0;
	text-decoration:none;
	color:white;
	padding:12px;
	background:black;
	font-size:1.8em;
}
.sidebar h3 {
	font-size:1.5em;
	margin-bottom:4px;
}
.sidebar p, .sidebar .view-content {
	font-size:10px;
}
.sidebar .views-row {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAABHNCSVQICAgIfAhkiAAAABJJREFUCJljYECA/wxYOP8xZABf0wP96WTlbgAAAABJRU5ErkJggg==") repeat-x bottom;
	padding-bottom:10px;
}
.sidebar .view-content .views-row-last {
	background:none;
}

.sidebar .view-content .views-field-title {
	font-size:16px;
	margin:6px 0;
}

.sidebar a {
	font-style:italic;
}

.sidebar .section {
	padding-left:0;
	padding-bottom:20px;
}

.region-sidebar-second {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAECAYAAABLLYUHAAAABHNCSVQICAgIfAhkiAAAABFJREFUCJljYICA/wzoDNwCAGHSA/39bYdFAAAAAElFTkSuQmCC") repeat-y left;
}
.block .content {
	padding:0;
}

.section {
	padding:0 10px 10px 0;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAABHNCSVQICAgIfAhkiAAAABJJREFUCJljYECA/wxYOP8xZABf0wP96WTlbgAAAABJRU5ErkJggg==") repeat-x bottom;
}

#content .section {
	padding:0;
	margin:0 20px;
	padding-bottom:6px;
}

#content-area {
}

#content .views-row {
	padding-bottom:8px;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAABHNCSVQICAgIfAhkiAAAABJJREFUCJljYECA/wxYOP8xZABf0wP96WTlbgAAAABJRU5ErkJggg==") repeat-x bottom;
	margin-bottom:8px;
}

#content form {
	padding-bottom:10px;
}

#content .figure {
	padding:10px 20px;
	padding-left:0;
	font-size:10px;
	float:left;
}

#content .figure.right {
	float:right;
	padding-left:20px;
	text-align:right;
}

/* Taxonomy styling */

#content .terms {
	display:none
}

.sidebar #tool-info {
	padding:6px;
	background:#eee;
	border-left:2px solid #aac;
	border-right:2px solid #aac;
	border-bottom:2px solid #aac;
	margin-bottom:10px;
	padding-bottom:12px;
}
.sidebar #tool-info .places h4 {
	margin-top:5px;
	font-size:15px;
}
.sidebar #tool-info a {
	font-size:12px;
}

/* Sidebar styling */

.sidebar .views-row {
	padding-top:10px;
}

.sidebar .views-row h3 {
	margin:6px 0 0 0;
}


/* Admin links */

#content .views-admin-links li {
	color:#333;
	background: white;
}

/* Tab styling overrides */

div.tabs {
	margin: 0;
}

ul.primary {
	padding: 0;
	background: none;
}

ul.primary li a {
	background: none;
	padding: 0 5px 0 0; /* width of tab-left.png */
}

ul.primary li a .tab {
	font-family: lucida grande,lucida sans console,sans-serif;
	font-weight:normal;
	font-style:italic;
	padding: 0 4px;
	color: white;
	background: #aaa;
}

ul.primary li a:hover {
	background: none;
}
ul.primary li a:hover .tab {
	background: #999;
}

ul.primary li.active a,
ul.primary li.active a:hover {
	background: none;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab {
	background: white;
	border:1px solid #ccc;
	border-bottom:none;
	height:18px;
	color:#333;
}


