
html {
	font-size:11pt;
}

#iewarning {display:none;}

body {
	font-family: lucida grande,lucida sans console,sans-serif;
	margin:10px auto;
}

hr {
	height:5px;
	border:none;
	margin:10px 0;
}

p, #content-area ul {
	font-size:12px;
}

a {
	color:#34a;
}

/*
 * Suggested formats for editors
 */
.floatright { float:right;margin:10px; }
.frame { 
border: 5px solid #EEE;
margin: 5px;
padding: 1px;
background: #666;
}

a:hover {
	color:#128;
}

fieldset table, fieldset{
	font-size:10px;
}

.floatright { float:right; }
.box { padding:6px 14px; border:1px solid #bbb; margin:10px; }

#content iframe {
	border:0;
}

#content form fieldset {
	width:auto;
}

.body-field-wrapper {
	font-size:10px;
}

.form-item input#edit-title {
	font-size:1.8em;
}

h1,h2,h3,h4 {
	font-family:Junction, lucida grande,lucida sans console,sans-serif;
	font-weight:normal;
}

h1 {
	font-size:3.2em;
	font-family: Prociono,georgia;
	margin:0;
}

h1 small {
	font-size:0.6em;
	line-height:1.2em;
	padding-bottom:6px;
}

h2 {
	font-family: Prociono,georgia;
	/* font-style: italic; */
	margin-top:0;
}

h2 a {
	font-family:Junction, lucida grande,lucida sans console,sans-serif;
}

.hide-this-block {
	padding:0 8px;
	float:right;
	position:absolute;
}

.balloons .view-header {
	width:120px;
	height:130px;
	border-right:10px solid #555;
	font-size:2.3em;
	font-family: Prociono,georgia;
	float:left;
	line-height:1.2em;
	padding:0 10px;
	margin-right:10px;
	background:#222;
	color:white;
}
.balloons .view-header small {
	font-size:11px;
}
.balloons {
	height:100px;
	font-size:9px;
	width:990px;
}
.balloons div.views-row {
	-moz-border-radius: 5px;
	border-radius: 5px;
	float:left;
	width:150px;
	color:white;
	font-style:italic;
	border:2px solid #333;
	background:#666;
	background-position:20px 100%;
	margin:10px 10px 0 10px;
	padding:5px;
}
.balloons a {
	color:white;
}
.balloons a:hover {
	color:#48f;
}
.balloons .views-field-title {
        font-style:normal;
	font-weight:bold;
}

#footer, #content {
  clear:both;
}

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.clearfix {
min-height: 1%;
}

.block-search h2 {
	margin-bottom:8px;
}

.breadcrumb {
	font-size:11px;
}

.barSparkline {
	padding:8px;
	text-align:right;
}
#dashboardGraph {
	float:right;
	margin-top:44px;
}
.page-dashboard .view-header h3 {
	width:500px;
}
img.githubGraph {
	display:block;
	clear:both;
	padding:1px 8px;
}

.sidebar .content p {
	font-size:13px;
}

.sidebar li {
	line-height:1.4em;
	font-size:13px;
	margin-bottom:6px;
}

.sidebar .item-list li {
	font-size:12px;
	margin-bottom:6px;
}

.sidebar h2 a {
	background: #333;
	color:white;
	padding:6px;
	margin-bottom:0;
}

.sidebar .views-field-subject {
	font-size:13px;
}

li {
	padding-left:3px;
	list-style:square;
}

ul.large {
	font-size:1.3em;
	padding-left:14px;
}

#block-views-your_recent_wiki_edits-block_1 .field-content {
	font-size:11px;
}
#block-views-your_recent_wiki_edits-block_1 .views-row {
	padding:6px 0;
}

ul#links {
	font-family:Junction, lucida grande,lucida sans console,sans-serif;
	font-size:1.4em;
	display:block;
	padding:0;
}
#links li {
	list-style:none;
	position:relative;
	float:left;
}
#links li {
	background:black;
	margin-right:8px;
	margin-bottom:8px;
	padding:0;
	color:white;
}
#links li a {
	text-decoration:none;
	display:block;
	padding:12px;
	padding-top:14px;
	color:white;
}
#links li:hover {
	background:#333;
	color:#ccc;
}

#links li ul {
	padding:0;
	background:black;
	position:absolute;
	top:42px;left:0;
	z-index:99;
	float:left;
	clear:both;
	font-size:12px;
}
#links li ul.sublinks li {
	width:200px;
	float:left;
	display:block;
	clear:both;
	list-style:none;
	margin:0;
}
#links li ul.sublinks li a {
	margin:0;
}

#links .right {
	float:right;
}
#links li.right {
	margin-right:0;
}

#header {
	clear:both;
	background:#999;
	margin-bottom:16px;
}

.modal {
	font-size:1.5em;
}

.dashboard-widget {
	padding-top:10px;
	clear:left;
}

div.widget {
	border-top:3px solid #333;
	background: #ccc;
}

.widget-flickr img {
	width:140px !important;
	height:auto !important;
}
.widget-flickr p {
	font-size:10px;
}

.widget .item-list li {
	font-size:10px;
	padding-left:0px;
	margin:12px;
}

.widget form input, .widget form legend, .widget form select {
	font-size:10px;
}
input.form-file {
	font-size:11px;
}

form .filefield-element input.form-submit {
	margin-top:4px;
	clear:both;
}
.block .form-item .description {
	font-size:10px;
}
.block .filefield-upload .form-file { 
	margin-bottom:4px;
}
.form-submit {
	font-size:1.4em;
	padding-bottom:6px;
}
#edit-field-image-gallery-field-image-gallery-add-more {
	font-size:11px;
}

.widget form .description, .widget form .tips {
	display:none;
}

.widget .form-item, .widget .item-list ul {
	margin-top:0;
}

#content .plots-flickr .views-row {
	float:left;
	width:240px;
	padding:10px 10px 10px 0;
	background:none;
	font-size:11px;
}
#content .plots-flickr .views-row-odd {
	clear:left;
}

.sidebar {
	padding-left:0;
}

.sidebar h2 {
	margin-top:0;
	text-decoration:none;
	color:white;
	padding:12px;
	background:black;
	font-size:1.8em;
}
.sidebar h3 {
	font-size:1.5em;
	margin-bottom:4px;
}
.sidebar p, .sidebar .view-content {
	font-size:10px;
}
.sidebar .views-row {
	padding-bottom:10px;
}
.sidebar .view-content .views-row-last {
	background:none;
}

.sidebar .view-content .views-field-title {
	font-size:16px;
	margin:6px 0;
}

.sidebar a {
	font-style:italic;
}

.sidebar .section {
	padding-left:0;
	padding-bottom:20px;
}

.block .content {
	padding:0;
}

.sidebar .content {
	font-size:11px;
}

.section, .region-sidebar-first .section {
	padding:0 10px 10px 0;
}

#content .section {
	padding:0;
	margin:0 20px;
	padding-bottom:6px;
}

#map {
	height:350px;
	width:960px;
}

.node-type-map .field {
	line-height:1.3em;
	font-size: 12px;
}

#share {
	margin-top:6px;
	height:25px;
}
#share a {
	float:left;
	margin-right:6px;
}

.comment_reply, .node-type-map .comment_add { 
	margin:12px 0;
	margin-bottom:6px;
}
.comment_reply a, .node-type-map .comment_add a { 
	padding:8px;
	background:#222;
	color:white;
	font-weight:bold;
}
.comment_reply a:hover,.node-type-map .comment_add a:hover { 
	background:#444;
}

.comment .submitted {
	font-size:11px;
}
textarea.markitupeditor {
	/*width:470px;*/
}

/* Attempt to show all base layers at partial opacity, failure so far */
#OpenLayers.Map_2_GMap2Container div {
  filter:alpha(opacity=70);   /* Internet Explorer       */
  -moz-opacity:0.7;           /* Mozilla 1.6 and below   */
  opacity: 0.7;               /* newer Mozilla and CSS-3 */
}

.body-fullscreen {
  height:100% !important;
  width:100% !important;
  padding:0 !important;
  margin:0 !important;
}
.map-fullscreen {
  position: fixed;
  z-index: 9999;
  background-color: #fff;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
}
#map-fullscreen-btn-div {
  float:right;
  width:100px;
  position:relative;
}
.page-wrapper-full {
  height:100%;
}
#map-minimize-btn {
  display:none;
  position:absolute;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  font-size:10px;
  color:white;
  background-color: black;
  padding:6px;
  filter:alpha(opacity=70);   /* Internet Explorer       */
  -moz-opacity:0.7;           /* Mozilla 1.6 and below   */
  opacity: 0.7;               /* newer Mozilla and CSS-3 */
}
#map-minimize-btn.show {
  display:block;
}
#map-fullscreen-btn {
  position:absolute;
  right:0;
  z-index: 9999;
  font-size:10px;
  display:block;
  color:white;
  background-color: black;
  padding:6px;
  filter:alpha(opacity=70);   /* Internet Explorer       */
  -moz-opacity:0.7;           /* Mozilla 1.6 and below   */
  opacity: 0.7;               /* newer Mozilla and CSS-3 */
}
#map-fullscreen-btn.map-fullscreen-btn-full {
	display:none;
}

#maps-header {
	text-align:right;
	padding:10px 0;
}

#content-area h2 {
	font-size:2em;
}
#content-area table tr {
	width:500px;
}

#content-area .meta {
	font-style:italic;
	font-size:11px;
	padding-bottom:8px;
}

#content-area ul.links {
	display:block;
	width:97%;
	padding:8px 0;
	margin-top:8px;
	margin-right:8px;
}
#content-area ul.links li {
	display:block;
	padding:4px 0;
	font-size:10px;	
}
#content-area .comment ul.links {
	padding:15px 0;
}
#content-area .comment ul.links li {
	display:inline;
	margin-right:8px;
}
#content-area .views-quick-links ul.links li {
	display:inline;
}

#content-area ul.links li.print_html, #content-area ul.links li.print_mail, #content-area ul.links li.print_pdf {
	margin-left:0;
}

#content-area .wysiwyg-format-1 {
	display:none;
}

#comments h2.title {
	font-family:Junction, lucida grande,lucida sans console,sans-serif;
	font-size:1.5em;
	border-bottom:1px solid #ccc;
	margin-bottom:15px;
}

#content .views-row {
	padding-bottom:8px;
	margin-bottom:8px;
}

#content form {
	padding-bottom:10px;
}

#content blockquote {
	border-left:6px solid #ddd;
	margin-left:0;
	padding-left:8px;
	color:#444;
}

#content .figure {
	padding:10px 20px;
	padding-left:0;
	font-size:10px;
	float:left;
}

#content .figure.right {
	float:right;
	padding-left:20px;
	text-align:right;
}

#content table {
	font-size:10px;
	border-color:#bbb;
	margin-right:10px;
}

.page-tools #content .view-content {
	width:550px;
}
.page-tools #content .views-row {
	width:160px;
	height:480px;
	float:left;
	margin:10px 0;
	margin-right:10px;
}
.page-tools #content .views-field-body,
.page-tools #content .views-field-tid,
.page-tools #content .views-field-tid-1 {
	font-size:10px;
	padding-bottom:6px;
}
.page-tools #content .views-field-tid,
.page-tools #content .views-field-tid-1 {
	font-size:10px;
}
.page-tools #content .views-row li {
	padding:0;
}
.page-tools #content .views-row-odd {
}

/* Taxonomy styling */

#content .terms {
}

.sidebar #tool-info {
	padding:6px;
	background:#eee;
	border-left:2px solid #aac;
	border-right:2px solid #aac;
	border-bottom:2px solid #aac;
	margin-bottom:10px;
	padding-bottom:12px;
}
.sidebar #tool-info .places h4 {
	margin-top:5px;
	font-size:15px;
}
.sidebar #tool-info a {
	font-size:12px;
}

/* Sidebar styling */

.sidebar .views-row {
	padding-top:10px;
}

.sidebar .views-row h3 {
	margin:6px 0 0 0;
}


/* Admin links */

#content .views-admin-links li {
	color:#333;
	background: white;
}

/* Tab styling overrides */

div.tabs {
	margin: 0;
	margin-top:4px;
}

ul.primary {
	padding: 0;
	background: none;
}

ul.primary li a {
	background: none;
	padding: 0 5px 0 0; /* width of tab-left.png */
}

ul.primary li a .tab {
	font-family: lucida grande,lucida sans console,sans-serif;
	font-size:10px;
	font-weight:normal;
	padding: 0 4px;
	color: #666;
	background: #ccc;
}

ul.primary li a:hover {
	background: none;
}
ul.primary li a:hover .tab {
	background: #ddd;
}

ul.primary li.active a,
ul.primary li.active a:hover {
	background: none;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab {
	background: white;
	border:1px solid #ccc;
	border-bottom:none;
	height:18px;
	color:#333;
}

div.messages {
	margin:10px 0;
	border-bottom:none;
	border-left:none;
	border-right:none;
	font-size:11px;
}

.node-type-map #content .section {
	margin-top:30px;
}
.node-type-map .clearfix {
	background:white;
}
.node-type-map #content .field div {
	display:inline;
	padding:6px 0;
}
.node-type-map #content .field, 
.node-type-map #content .field {
	font-size:11px;
}
.node-type-map #content .nodebody, 
.node-type-map #content .field-field-cartographer-notes,
.node-type-map #content .field-field-notes {
	font-size:12px;
}
.node-type-map #content .field div.field-label {
	font-weight:normal;
	color:#888;
}
.node-type-map div.formats {
	padding:12px 0;
}
.node-type-map div.formats a {
	color:white;
	font-size:11px;
	background:#ccc;
	padding:8px;
	font-weight:bold;
}
.node-type-map div.formats a:hover {
	background:#aaa;
}

#content .view-Notes .views-row {
	width:160px;
	float:left;
	margin-right:10px;
	background:none;
}
#content .view-Notes .views-row .views-field-timestamp, 
#content .view-Notes .views-row .views-field-body, 
#content .view-Notes .views-row .views-field-view-node,
#content .view-Notes .views-row .views-field-tid,
#content .view-Notes .views-row .views-label-name, 
#content .view-Notes .views-row .views-field-created { 
	font-size:11px;
}
#content .view-Notes .views-row .views-field-timestamp, 
#content .view-Notes .views-row .views-field-created { 
	color:#555;
}
#content .view-Notes .views-row .views-field-body { 
	padding-top:4px;
}
#content .view-Notes .views-row .views-field-view-node {
	padding-bottom:10px;
}
#content .view-Notes .views-row .views-field-title {
	margin-top:4px;
}
.view-Notes .views-row-1,
.view-Notes .views-row-4,
.view-Notes .views-row-7,
.view-Notes .views-row-10,
.view-Notes .views-row-13,
.view-Notes .views-row-16,
.view-Notes .views-row-19,
.view-Notes .views-row-22 {
	clear:left;
}

.region-sidebar-second .views-field-title .field-content, 
.region-sidebar-second .views-field-title .field-content h3 {
	line-height:1.3em;
	font-size:14px;
}

#block-search-0 input#edit-search-block-form-1 {
	font-size:1.5em;
	margin-bottom:5px;
}

#content .archive .views-view-grid .views-field-title {
	height:2.4em;
	padding:4px 0;
}
#content .archive .views-view-grid .date-display-single{
	color:#888;
}

#content .archive table {
	width:100%;
}
#content .archive th {
	padding:5px;
	font-weight:normal;
}
#content .archive thead {
	border-bottom:2px solid #444;
}
#content .archive td {
	padding:12px 5px;
}
#content .archive td.views-field-field-ground-resolution-value {
	width:60px;
} 
#content .archive td.views-field-field-geotiff-url-value, 
#content .archive td.views-field-field-jpg-url-value, 
#content .archive td.views-field-field-tms-url-value, 
#content .archive td.views-field-field-license-value, 
#content .archive td.views-field-field-openlayers-url-value {
	width:40px;
	text-align:center;
}
#content .archive td.views-field-field-capture-date-value {
	width:80px;
}
#content .archive td a {
	color:#333;
}
#content .archive td a:hover {
	color:black;
}
#content .archive td.views-field-title a {
	color:#34a;
}
#content .archive td.views-field-title a:hover {
	color:#128;
}
#content .geotiff-field, 
#content .archive td.views-field-field-geotiff-url-value { 
	background:#06B2C0;
}
#content .geotiff-field:hover, 
#content .archive td.views-field-field-geotiff-url-value:hover { 
	background:#06A2C0;
}

#content .jpg-field, 
#content .archive td.views-field-field-jpg-url-value { 
	background:#A1C53F;
}
#content .jpg-field:hover, 
#content .archive td.views-field-field-jpg-url-value:hover { 
	background:#91C03F;
}

#content .tms-field, 
#content .archive td.views-field-field-tms-url-value { 
	background:#FFC833;
}
#content .tms-field:hover, 
#content .archive td.views-field-field-tms-url-value:hover { 
	background:#FFB833;
}

#content .openlayers-field, 
#content .archive td.views-field-field-openlayers-url-value { 
	background:#F67821;
}
#content .openlayers-field:hover, 
#content .archive td.views-field-field-openlayers-url-value:hover { 
	background:#EA6821;
}

#content .license-field:hover, 
#content .archive td.views-field-field-license-value:hover { 
	background:#ddd;
}

ul#toc {
	margin:14px;
	font-size:12px;
	line-height:18px;
	float:right;
	padding:12px;
	background:#eee;
	border:1px dotted #aaa;
}
ul#toc li {
	margin-left:18px;
}
#toc .toc-title {
	text-align:left;
}

.field-field-main-image {
	margin-bottom:8px;
}

.hide-this-block {
	float:right;
	clear:both;
}
.hide-this-block a {
	padding:4px;
	font-size:10px;
	color:white;
}
.hide-this-block a:hover {
	color:#aaa;
	background:black;
}

.openlayers-views-map {
	font-size:10px;
	line-height:20px;
}

#content-area .places-grid {
	width:550px;
	padding-right:18px;
}
#content-area .places-grid .views-view-grid tr {
	display:block;
}
#content-area .places-grid .views-row h3 {
	font-size:18px;
}
#content-area .places-grid .views-row {
	height:400px;
	margin-bottom:8px;
	width:160px;
	font-size:10px;
	float:left;
	padding-right:10px;
	padding-top:12px;
}

#content .view-people .views-row {
	clear:left;
	font-size:11px;
}
#content .view-people .views-row .picture a {
	float:left;
	margin-right:8px;
	margin-bottom:8px;
}
#content .view-people .views-row .views-field-value a {
	font-size:1.2em;
}

.page-data #header {
	height:280px;
}

#attachments th {
	width:100%;
	padding-top:12px;
	font-family:Junction, lucida grande,lucida sans console,sans-serif;
	font-size:14px;
	font-weight:normal;
	padding-bottom:4px;
}
#attachments-block th {
	background:none;
}
#attachments td, #attachments-block td { font-size:11px; padding:4px 2px; }

#slider {
    height:375px;
    padding: 0;  
    margin:  0;  
}
#slider img {
    top:  0; 
    left: 0 
}
.page-home #slider h2 {
    font-size:1.6em;
}

.slider_text {
    position:absolute;
    left:20px;
    top:20px;
    display:block;
    padding:12px;
    color:white;
    background:#222;
    filter:alpha(opacity=70);   /* Internet Explorer       */
    -moz-opacity:0.7;           /* Mozilla 1.6 and below   */
    opacity: 0.7;               /* newer Mozilla and CSS-3 */
}
.slider_text_bottom {
    top:240px;
}
.slider_text h2 {
    margin-bottom:5px;
    width:355px;
}
.slider_text p {
    width:355px;
    margin:0;
}
#slider a {
    text-decoration:none;
}

.page-dashboard .tips, #comment_form .tips {
	display:none;
}
.page-dashboard div {
}

