/* $Id: nodes.css,v 1.6 2009/11/02 15:37:29 johnalbin Exp $ */

/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
body.section-dashboard .form-region-main {
width: 330px;
}
body.section-dashboard .form-region-right {
float: left;
}

body.section-dashboard #content form .attachments fieldset {
width: 166px;

}
#block-formblock-note {
background: #EEE;
padding: 8px;
border-top: 3px solid #CCC;
}

#block-formblock-note fieldset {
border:0;
padding:0;
}
#block-formblock-note fieldset legend a {
padding-left:10px;
background-position-x:0;
}

.field-field-image-gallery {
}
.attachments .description, #field-image-gallery-items .description, #edit-field-main-image-0-upload-wrapper .description {
display: none;
}
#field-image-gallery-items input {
float: left;
clear: both;
width: 166px;
}
.field-field-image-gallery .field-items {
float: left;
background: #EEE;
padding: 8px;
border-top: solid 3px #CCC;
margin: 0 10px 10px 0;
}

.field-field-image-gallery .field-items img {
margin: 2px;

}

.field-field-image-gallery .field-item {

float: left;
}

body.section-node-edit .region-sidebar-second, body.page-note-add .region-sidebar-second {
display: none;
}

body.section-node-edit .body-field-wrapper textarea, body.page-note-add .body-field-wrapper textarea {
height: 540px;
}
.node /* Node wrapper */ {
}

.node-sticky /* A sticky node (displayed before others in a list) */ {
}

.node-unpublished /* Unpublished nodes */ {
  /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
}

.node-unpublished div.unpublished,
.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.node-by-viewer /* A node created by the current user */ {
}

.node-teaser /* A node displayed as teaser */ {
}

/* All nodes are given a node-type-FOO class that describes the type of
 * content that it is. If you create a new content type called
 * "my-custom-type", it will receive a "node-type-my-custom-type" class.
 */
.node-type-page /* Page content node */ {
}

.node-type-story /* Story content node */ {
}

.node h2.title /* Node title */ {
}

.marker /* "New" or "Updated" marker for content that is new or updated for the current user */ {
  color: #c00;
}

.node .picture /* The picture of the node author */ {
}

.node.node-unpublished .picture,
.comment.comment-unpublished .picture {
  position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

.node .meta /* Wrapper for submitted and terms data */ {
}

.node .submitted /* The "posted by" information */ {
}

.node .terms /* Node terms (taxonomy) */ {
}

.node .content /* Node's content wrapper */ {
}

.node ul.links /* Node links. See also the ul.links declaration in the pages.css. */ {
}

.preview .node /* Preview of the content before submitting new or updated content */ {
  /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
}
